<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="SlicerRT" />
    <title>SlicerRT</title>
    
    <link type="text/css" href="css/reset.css" media="all" rel="stylesheet">
    <link type="text/css" href="css/normalize.css" media="all" rel="stylesheet">
    <link type="text/css" href="css/pages.css" media="all" rel="stylesheet">
  </head>

  <body class="marketing pages">
    
    <header>
      <div class="inner">
        <a class="button left" href="index.html">Home</a>
        <a class="button left" href="Download.html">Download</a>
        <a class="button left" href="http://www.slicer.org/slicerWiki/index.php/Documentation/Nightly/Extensions/SlicerRT">Documentation</a>
        <a class="button left" href="https://github.com/SlicerRt/SlicerRT/issues">Feedback</a>
        <a class="button left" href="http://www.slicer.org/slicerWiki/index.php/Documentation/Nightly/Extensions/SlicerRT#Tutorials">Tutorials</a>
        <a class="button left" href="Publications.html">Publications</a>
        <a class="button left" href="Contributors.html">Contributors</a>
      </div>
    </header>
    
    <section id="content">
      <div class="inner">
      {{ content }}
      </div>
    </section>
    
    <footer>
      <div class="upper_footer"> <!-- -->
        <div class="inner clearfix">
          <!--[if IE]><div id="legal_ie"><![endif]-->
          <p>&copy; 2018 The SlicerRT Community and the Percutaneous Surgery Laboratory, Queen's University, Kingston, ON, Canada</p>
        </div><!-- /#legal or /#legal_ie-->
      </div><!-- class="lower_footer" -->
    </footer>

  </body>
</html>
