<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="SlicerCineTrack" />
    <title>SlicerCineTrack</title>
    
    <link type="text/css" href="css/reset.css" media="all" rel="stylesheet">
    <link type="text/css" href="css/normalize.css" media="all" rel="stylesheet">
    <link type="text/css" href="css/pages.css" media="all" rel="stylesheet">

  </head>

  <body class="marketing pages">
    
    <header>
      <div class="inner">
        <a class="button left" href="index.html">Home</a>
        <a class="button left" href="Download.html">Download</a>
        <a class="button left" href="Documentation">Documentation</a>
        <a class="button left" href="Feedback">Feedback</a>
        <a class="button left" href="Tutorial">Tutorial</a>
        <a class="button left" href="Contributors.html">Contributors</a>
        <!-- <a class="button left" href="Publications.html">Publications</a> -->
      </div>
    </header>
    
    <section id="content">
      <div class="inner">
      {{ content }}
      </div>
    </section>
    
    <footer>
      <div class="upper_footer"> <!-- -->
        <div class="inner clearfix">
          <!--[if IE]><div id="legal_ie"><![endif]-->
            <p>&copy; 2024 Laboratory for Translational Medicine, Toronto Metropolitan University, Toronto, ON, Canada</p>
        </div><!-- /#legal or /#legal_ie-->
      </div><!-- class="lower_footer" -->
    </footer>

  </body>
</html>
